.Profiles {
    &__item {
        display: flex;
        gap: 16px;
        background-color: white;
        border-radius: 4px;
        padding: 16px;
    }
    &__icon {
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
    &__button {
        width: 40px;
        background-color: red;
        display: flex;
    }
    &__boxes {
        display: flex;
    }
}